---
import rocket from '../images/WhatsApp Image 2023-04-22 at 17.17.22.jpg'
import img from '../images/github-fill.svg'
import img1 from '../images/discord-fill.svg'
import img2 from '../images/twitter-fill.svg'
import img3 from '../images/instagram-line.svg'
import img4 from '../images/linkedin-box-fill.svg'
export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}

const { heading = "ALRIYA TREEZA D SOUZA", text="Computer Science Student| Web Developer", showExtra = false } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <img src={rocket} width="250" height="250" alt=""/>
    <br>
    <div class="slide-right">
      <h1>{heading}</h1>
    </div> 
    <p>
      {text}
    </p>
  </div>
  <div class="showcase-acc">
  <a href="https://github.com/alriyadsouza"><img src={img} width="60" height="60"></a>
  &nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/alriya-treeza-d-souza-792498224/"><img src={img4} width="60" height="60"></a>
  &nbsp;&nbsp;
  <a href="https://discord.gg/3yqdDTXda"><img src={img1} width="60" height="60"></a>
  &nbsp;&nbsp;
  <a href="https://twitter.com/Alriya3"><img src={img2} width="60" height="60"></a>
  &nbsp;&nbsp;
  <a href="https://instagram.com/_alriya.dsouza_?igshid=ZDdkNTZiNTM="><img src={img3} width="60" height="60"></a>
</div>

  {showExtra && <>
  <p class="showcase-demo">
    <small>
      <a href="https://github.com/alriyadsouza">Alriya Dsouza</a>
      </small>
  </p>
  </>}
</section>

<style>
  .showcase {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(219, 219, 250);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='rgb(255,139,139)' fill-opacity='1' d='M0,96L60,122.7C120,149,240,203,360,224C480,245,600,235,720,213.3C840,192,960,160,1080,154.7C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    background-position: 0 0;
    animation: moveBackground 30s linear infinite;
  }

  @keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.showcase-blog {
  min-height: 300px;
}

.showcase-acc
{
  text-align: center;
}

.showcase-text {
  max-width: 1000px;
  color: black;
  text-align: center;
  margin: 50px auto;
  animation-fill-mode: forwards;
}

.slide-right
{
  width:100%;
  overflow:hidden;
}
.slide-right h1 
{
  font-size: 50px;
  color: rgb(146, 0, 159);
  margin-bottom: 20px;
  animation: 1s slide-right;
}

@keyframes slide-right{
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}

.showcase-demo {
  color: rgb(114, 185, 229);
  text-align: left;
  font-weight: 300;
}

[data-theme="light"] {
  --color-bg: #f2f2f2;
  --color-text: #444444;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #dddddd;
  --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #8e32dc;
  --block-quote-text: #dddddd;
}
</style>

