---
import logos from '../../images/framework-logos.png'
import Card from '../components/Card.astro'
import logosSmall from '../../images/framework-logos-small.png'
import rocket from '../images/WhatsApp Image 2023-04-22 at 17.17.22.jpg'
import img from '../images/github-fill.svg'
import img1 from '../images/discord-fill.svg'
import img2 from '../images/twitter-fill.svg'
import img3 from '../images/instagram-line.svg'
import img4 from '../images/linkedin-box-fill.svg'
export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}

const { heading = "ALRIYA TREEZA D SOUZA", text="Computer Science Student| Web Developer", showExtra = false } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <img src={rocket} width="250" height="250" alt=""/>
    <br>
    <div class="slide-right">
      <h1>{heading}</h1>
    </div> 
    <p>
      {text}
    </p>
  </div>
  
  <a href="https://github.com/alriyadsouza"><img src={img} width="60" height="60"></a>
  &nbsp;
  <a href="https://www.linkedin.com/in/alriya-treeza-d-souza-792498224/"><img src={img4} width="60" height="60"></a>
  &nbsp;
  <a href="https://discord.gg/3yqdDTXda"><img src={img1} width="60" height="60"></a>
  &nbsp;
  <a href="https://twitter.com/Alriya3"><img src={img2} width="60" height="60"></a>
  &nbsp;
  <a href="https://instagram.com/_alriya.dsouza_?igshid=ZDdkNTZiNTM="><img src={img3} width="60" height="60"></a>
  

  {showExtra && <>
    <div class="showcase-img">
    <img class="logos" src={logos} alt="" />
    <img class="logos-small" src={logosSmall} alt="" />
  </div>

  <p class="showcase-demo">
    <small>
      <a href="https://github.com/alriyadsouza">Alriya Dsouza</a>
      </small>
  </p>
  </>}
</section>

<style>
  .showcase {
  height: auto;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom, var(--color-primary), rgba(43, 86, 188, 0));
  padding: 30px;
  text-align: center;
}

.showcase-blog {
  min-height: 300px;
}

.showcase-text {
  max-width: 1000px;
  color: black;
  text-align: center;
  margin: 50px auto;
  animation-fill-mode: forwards;
}

.slide-right
{
  width:100%;
  overflow:hidden;
}
.slide-right h1 
{
  font-size: 50px;
  color: rgb(146, 0, 159);
  margin-bottom: 20px;
  animation: 1s slide-right;
}

@keyframes slide-right{
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}

.showcase-img {
  text-align: center;
}

.showcase-img img {
  border-radius: 10px;
  margin: auto;
}

.showcase-demo {
  color: rgb(114, 185, 229);
  text-align: left;
  font-weight: 300;
}

[data-theme="light"] {
  --color-bg: #f2f2f2;
  --color-text: #444444;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #dddddd;
  --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #8e32dc;
  --block-quote-text: #dddddd;
}
</style>

